@use "../../settings" as *;


.section-contrib{
    display: flex;
    font-family: $font;
    font-size: xx-large;
    margin-block-start: 1rem;
    margin-block-end:1rem;

&__btn{
    margin-inline-start:2rem ;
    font-size: .9rem;
}}

.section-event{
  &__heading{
    font-family: $font;
    font-size:1.5rem ;
    padding-block-start: 2rem;
    color:$col4;
  }
  &__events{
    background-color:$col3;
    padding-block-end: 4rem;
  }
  &__wrapper {
    display: flex;
    gap: 4rem;
  }
  &__text{
    font-family: $font;
    padding-block-start: 1rem;
  }
  &__button{
    background-color:$col3;
    color: $col1;
    border: 2px solid $col1;
    padding-block-start:0.5rem;
    padding-block-end:0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-block-start: 1rem;
    font-size: unset;
    a {
        text-decoration: none;
        color: $col1;
        background-color:$col3;
      &:hover{
        background-color: $col1;
        color:$col3;
      }
    }
  }
}

.section-funds{
&__funding{
    display: flex;
    padding-block-start: 2rem;
    margin-block-start: 4rem;

}
&__button--fund{
    color: $col3;
    border:2px solid$col3;
    background-color: $col2;
    padding:0.8rem;
    margin-inline-start: 2rem;
}
}

.section-products{
  display: flex;
  gap: 1rem;
  font-family: $font;
  text-align: center;

  &__second-title{
    color:$col4;
  }
}

.section-register{
    background-color: $col1;
    margin-block-start: 4rem;
    display: flex;

&__box {
    background-color:$col3;
    display: flex;
    gap: 5rem;
    margin-block:2rem;
}
&__block{
    background-color: $col3;
    padding-inline-start: 2rem;
    padding-inline-end: 6rem;
}
&__title{
    margin-block-start: 3rem;
    font-family: $font;
    font-size: larger;
}
&__text{
    margin-block-start: .5rem;
    font-family: $font;
    font-size: smaller;
    margin-block-end: .5rem;

}
&__button--box{
    background-color:$col1;
    padding-inline: 2rem;
    padding-block: .9rem;
    font-size: medium;
}
}

.section-industry{
    &__head{
        margin-block-start: 4rem;
        text-align: center;
    }
    &__img{
        width: 4rem;
        margin-block-start: 4rem;
    }
    &__title{
    margin-block-start:2rem ;
    font-family: $font;
    font-size: revert;
    color: $col4;
    text-align: center;
    }
    &__boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    font-family: $font;
}
}

.section-feature{
    &__main-title{
    margin-block-start:8rem ;
    font-family: $font;
    font-size: revert;
    color: $col4;
    text-align: center;

}
    &__img{
    width:4rem;
    margin-block-start: 4rem;
}

    &__card-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    font-family: $font;

}
}

.section-highlight{
    background-color:$col3;
    font-family: $font;
    margin-block-start: 4rem;

    &__title {
    text-align: center;
    margin-block-start: 2rem;
    padding-block: 2rem;
}
}

.section-highlight{
    &__title {
    text-align: center;
    margin-block-start: 2rem;
    padding-block: 2rem;
}
}

.slider{
    display: flex;
    font-family: $font;
    text-align: center;

    &__img{
        margin-block-start: 4rem;
        width: 16rem;

    &img:hover,
    &img:focus {
        transform: scale(1.1);
        transition: 1s ease-in-out;
       }}

}

.section-article{
    &__main-title{
    text-align: center;
    font-family: $font;
    margin-block-start: 8rem;
}
    &__img1{
    width:18rem;
    height: 12rem;
    margin-block-start: 2rem;
}
    &__img2{
    width:16rem;
    height: 14rem;
    margin-block-start: 2rem;
}
    &__img3{
    width:12rem;
    height: 14rem;
}

    &__seen{
    display: flex;
    text-align: center;
    font-family: $font;

    &__title a{
        text-decoration: none;
        color: $col5;
    }
}
}

.section-involved{
    background-color: $col1;

    &__wrapper{
    text-align: center;
    color: $col3;
    padding-block-start: 2rem;
    margin-block-start: 6rem;
    padding-block-end: 2rem;
    font-family: $font;

}
    &__button--involve{
    border:.1rem solid $col3;
    background-color: $col1;
    padding-block: 0.8rem;
    padding-inline: 2rem;
    margin-block-start: .9rem;
    font-size: unset;

}
}

.section-partners{
    &__title{
    color: $col1;
    font-size: xx-large;
    font-family: $font;
    margin-block-start: 2rem;
}
    &__text{
    font-family: $font;
    margin-block-start: 1rem;
}
    &__logos{
    display: flex;
    gap: 2rem;
    margin-block-start: 4rem;
    margin-block-end: 4rem;
}
    &__logo{
    width: 4rem;
    height: 2rem;

}

}






